* {
  font-family: sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background: #1e1e1e;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.wrapper .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
}

.wrapper h1 {
  color: #e1e1e1;
}

.wrapper p {
  color: white;
  text-align: center;
  margin-top: 30px;
}

.wrapper img {
  width: 25vw;
  margin-top: 30px;
}

.wrapper .clickme {
  padding: 10px 20px;
	margin-top: 20px;
  outline: none;
  border: none;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  color: #1e1e1e;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease;
}

.wrapper .clickme:hover {
  color: #e1e1e1;
  background-color: #1e1e1e;
}
