* {
  font-family: sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background: #1e1e1e;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.wrapper .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
}

.wrapper h1 {
  color: #e1e1e1;
}

.wrapper p {
  color: white;
  text-align: center;
  margin: 30px 0 20px 0;
}

.wrapper h2 {
	color: #e1e1e1;
	font-size: 20px;
	margin: 20px 0;
}

.wrapper form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.wrapper .input {
	width: 200px;
	margin: 10px 0;
	height: 30px;
	padding: 2px 6px;
}

.wrapper .submit {
	width: 70px;
	height: 30px;
	margin-top: 30px;
	outline: none;
	border: none;
	background-color: #e1e1e1;
	border: 1px solid #e1e1e1;
	color: #1e1e1e;
	cursor: pointer;
	transition: background-color 250ms ease, color 250ms ease;
}

.wrapper .submit:hover {
	color: #e1e1e1;
	background-color: #1e1e1e;
}

.wrapper #square {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
	font-size: 22px;
	height: 120px;
	width: 120px;
	border: 1px solid #e1e1e1;
}

.wrapper #result {
	color: white;
	margin-top: 30px;
	font-size: 22px;
	height: 20px;
}

.wrapper .color {
	background-color: red;
}

.wrapper #square .mousedown {
	display: none;
	margin: 0;
	font-size: 14px;
}

.wrapper #square .mouseup {
	display: none;
	margin: 0;
	font-size: 14px;
}

.appear {
	display: block !important;
}