* {
  font-family: sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background: #1e1e1e;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.wrapper .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
}

.wrapper h1 {
  color: #e1e1e1;
}

.wrapper p {
  color: white;
  text-align: center;
  margin-top: 30px;
}

.wrapper a {
  color: white;
  font-size: 24px;
  margin: 20px 0;
	text-decoration: none;
	outline: none;
}

.wrapper a:focus {
	text-decoration: underline;
}

.wrapper img {
  width: 25vw;
  margin-top: 30px;
}
