* {
  font-family: sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background: #1e1e1e;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.wrapper .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
}

.wrapper h1 {
  color: #e1e1e1;
}

.wrapper p {
  color: white;
  text-align: center;
  margin: 30px 0 20px 0;
}

.wrapper h2 {
  color: #e1e1e1;
  font-size: 20px;
  margin: 20px 0;
}

.wrapper .button {
  width: 200px;
  height: 30px;
  margin: 30px 0;
  outline: none;
  border: none;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  color: #1e1e1e;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease;
}

.wrapper .button:hover {
  color: #e1e1e1;
  background-color: #1e1e1e;
}
